@import "tailwindcss";

html {
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

/* @variant dark(&:where(.dark, .dark *)); */
@custom-variant light (&:where(.light, .light *));

@theme {
	/* Fonts */
	--font-heading: "Space Grotesk", sans-serif;
	--font-body: "DM Sans", sans-serif;
	--font-mono: "DM Mono", monospace;

	/* Light Mode */

	/* Core Colors */
	--color-primary: oklch(89.7% 0.196 126.665);
	--color-background: oklch(0.165 0.0017 17.33);
	--color-text: oklch(0.9431 0 0);

	/* Surfaces */
	--color-text-contrast: oklch(0.9551 0 0);
	--color-card: oklch(0.1543 0 0);

	/* Supporting */
	--color-muted: oklch(55.1% 0.027 264.364);
}

.light {
	/* Core Colors */
	--color-primary: oklch(64% 0.213 47.604);
	--color-background: oklch(0.9431 0 0);
	--color-text: oklch(0.165 0.0017 17.33);

	/* Surfaces */
	--color-text-contrast: oklch(0.9551 0 0);
	--color-card: oklch(98.5% 0.002 247.839);
}

nav ul a:hover {
	font-weight: 500;
	color: var(--color-primary);
}

button {
	cursor: pointer;
}

@utility text-gradient {
	background: linear-gradient(to bottom, #ffffff, #898989);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
