@import "tailwindcss";

@theme {
	/* Fonts */
	--font-heading: "Space Grotesk", sans-serif;
	--font-body: "DM Sans", sans-serif;
	--font-mono: "DM Mono", monospace;

	/* Light Mode */

	/* Core Colors */
	--color-primary: oklch(70.5% 0.213 47.604);
	--color-background: oklch(0.9431 0 0);
	--color-text: oklch(0.165 0.0017 17.33);

	/* Surfaces */
	--color-text-contrast: oklch(0.9551 0 0);
	--color-card: oklch(98.5% 0.002 247.839);

	/* Supporting */
	--color-muted: oklch(55.1% 0.027 264.364);
}
